In [14]:
import pandas as pd

# Assuming your notebook is in the 'notebooks' subfolder and data in the 'data' subfolder
data = pd.read_csv('data.csv')

# Set display options to show all columns (None means unrestricted)
pd.set_option('display.max_columns', None)

In [23]:
# Define the valid grades for undergraduate courses
valid_grades = ['A', 'A+', 'A-', 'B', 'B+', 'B-', 'C', 'C+', 'C-', 'D', 'D+', 'D-', 'F', 'FF']

# Define grades considered as failing
failing_grades = ['F', 'IF', 'W', 'D-', 'D+', 'D#', 'F#', 'D', 'FF', 'D-']

# Filter out records with invalid grades
valid_data = data[data['SHRTCKG_GRDE_CODE_FINAL'].isin(valid_grades)]

# Combine the 'SUBJ' and 'CRSE_NUMB' to form the full course name
valid_data['Full_Course'] = valid_data['SUBJ'].astype(str) + valid_data['CRSE_NUMB'].astype(str)

# Group by Full_Course to calculate the total number of students and the number of failures
course_stats_combined = valid_data.groupby('Full_Course').agg(
    total_students=('Pidm', 'count'),  # Count all instances of students taking the course
    failing_students=('SHRTCKG_GRDE_CODE_FINAL', lambda x: (x.isin(failing_grades)).sum())  # Count failures
)

# Calculate the failure rate
course_stats_combined['failure_rate'] = course_stats_combined['failing_students'] / course_stats_combined['total_students'] * 100

# Sort the dataframe by failure rate in descending order
course_stats_combined_sorted = course_stats_combined.sort_values(by='failure_rate', ascending=False)

# Display the combined results
from IPython.display import display
display(course_stats_combined_sorted)

C:\Users\songt\AppData\Local\Temp\ipykernel_38380\1363466088.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_data['Full_Course'] = valid_data['SUBJ'].astype(str) + valid_data['CRSE_NUMB'].astype(str)

             total_students  failing_students  failure_rate
Full_Course
LNW4930                   1                 1     100.00000
EGI6415                   1                 1     100.00000
PHC6542                   1                 1     100.00000
MVJ1413                   1                 1     100.00000
EGN3000                 327               326      99.69419
...                     ...               ...           ...
LIS6709                  63                 0       0.00000
LIS6726                   1                 0       0.00000
AFA6932                  10                 0       0.00000
LIS6773                  24                 0       0.00000
ITT4505                   6                 0       0.00000

[5080 rows x 3 columns]

In [24]:
# Filter out classes with fewer than 10 students
course_stats_filtered = course_stats_combined_sorted[course_stats_combined_sorted['total_students'] >= 10]

# Display the filtered results
display(course_stats_filtered)

             total_students  failing_students  failure_rate
Full_Course
EGN3000                 327               326     99.694190
INR3018                  21                 9     42.857143
AMS3212                  10                 4     40.000000
PHI4300                  17                 6     35.294118
MAA6406                  12                 4     33.333333
...                     ...               ...           ...
LIS6674                  21                 0      0.000000
LIS6703                 100                 0      0.000000
LIS6709                  63                 0      0.000000
AFA6932                  10                 0      0.000000
LIS6773                  24                 0      0.000000

[3755 rows x 3 columns]

In [22]:
# Export the DataFrame to a CSV file
course_stats_filtered.to_csv('course_stats_filtered.csv', index=True)

In [18]:
# Filter the original valid_dataset for rows where SUBJ is 'EGN' and CRSE_NUMB is '3000'
egn_3000_filtered = valid_data[(valid_data['SUBJ'] == 'EGN') & (valid_data['CRSE_NUMB'] == '3000')]

display(egn_3000_filtered)

,Pidm,Admit_Code,Admit_Desc,Admit_Term,Admit_Level,Admit_College,Admit_Major_Code,Major_Desc,MULTI,Race,NEW_ETHNICITY,GENDER_Code,GENDER,CITZ_IND,CITZ_CODE,CITZ_DESC,Final_GPA,ACTE,ACTM,ACTR,ACTS,EACT,SAT-ERW,SATM,SAT_TOTAL,Term,CRN,SUBJ,CRSE_NUMB,Repeat_Ind,SHRTCKG_GRDE_CODE_FINAL,Full_Course
9554,1202367,SB,Second Baccalaureate,202108,UG,SA,ENG,English,NaN,W White,Hispanic or Latino,F,Female,Y,C,Citizen (USA),3.91,-,-,-,-,-,370,600,970,202308.0,83680.0,EGN,3000,NaN,F,EGN3000
11146,1457496,JU,Fl Comm Coll Transf-Upper Levl,201501,UG,SA,UGU,Engineering,NaN,W White,Not Hispanic or Latino,F,Female,Y,C,Citizen (USA),2.83,20,19,31,29,25,-,-,-,201501.0,24136.0,EGN,3000,NaN,F,EGN3000
12277,1498936,JU,Fl Comm Coll Transf-Upper Levl,201508,UG,SA,UGU,Engineering,NaN,W White,Not Hispanic or Latino,M,Male,Y,C,Citizen (USA),3.51,-,-,-,-,-,-,-,-,201601.0,22207.0,EGN,3000,NaN,F,EGN3000
37221,2385655,FS,Former USF Student Returning,201408,UG,SA,UGU,Engineering,NaN,W White,Not Hispanic or Latino,M,Male,Y,C,Citizen (USA),3.21,-,-,-,-,-,-,-,-,201408.0,92472.0,EGN,3000,NaN,F,EGN3000
56003,2662425,JU,Fl Comm Coll Transf-Upper Levl,201508,UG,SA,EGU,Engineering-General,NaN,W White,Not Hispanic or Latino,M,Male,Y,C,Citizen (USA),2.51,-,-,-,-,-,-,-,-,201508.0,91789.0,EGN,3000,NaN,F,EGN3000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2660016,3854273,BL,Beginner(FTIC) - Lower Level,202305,UG,EN,MNE,Mechanical Engineering,NaN,W White,Not Hispanic or Latino,M,Male,Y,C,Citizen (USA),3.85,-,-,-,-,-,650,670,1320,202308.0,83672.0,EGN,3000,NaN,F,EGN3000
2660992,3857069,BL,Beginner(FTIC) - Lower Level,202401,UG,EN,EPBI,Pre-Biomedical Engineering,NaN,W White,Not Hispanic or Latino,M,Male,Y,C,Citizen (USA),4.01,-,-,-,-,-,620,600,1220,202401.0,15581.0,EGN,3000,NaN,F,EGN3000
2662590,3863612,JU,Fl Comm Coll Transf-Upper Levl,202308,UG,EN,ECE,Civil Engineering,NaN,B Black or African American,Not Hispanic or Latino,M,Male,Y,P,"PermResident, Asylee, Refugee",3.97,-,-,-,-,-,590,550,1140,202308.0,83680.0,EGN,3000,NaN,F,EGN3000
2663508,3867200,UL,Other UG Transf - Lower Level,202308,UG,EN,ECE,Civil Engineering,NaN,W White,Not Hispanic or Latino,M,Male,Y,C,Citizen (USA),4.32,-,-,-,-,-,640,600,1240,202308.0,83672.0,EGN,3000,NaN,F,EGN3000
2664622,3870649,UU,Other UG Transf - Upper Level,202308,UG,EN,MNE,Mechanical Engineering,NaN,W White,Not Hispanic or Latino,M,Male,Y,C,Citizen (USA),3.72,-,-,-,-,-,700,650,1350,202308.0,83680.0,EGN,3000,NaN,F,EGN3000

In [19]:
valid_data.count()

Pidm                       2469178
Admit_Code                 2469178
Admit_Desc                 2469178
Admit_Term                 2469178
Admit_Level                2469178
Admit_College              2469178
Admit_Major_Code           2469178
Major_Desc                 2469178
MULTI                       133914
Race                       2216169
NEW_ETHNICITY              2469178
GENDER_Code                2469178
GENDER                     2469178
CITZ_IND                   2454557
CITZ_CODE                  2469178
CITZ_DESC                  2469178
Final_GPA                  2367243
ACTE                       2469178
ACTM                       2469178
ACTR                       2469178
ACTS                       2469178
EACT                       2469178
SAT-ERW                    2469178
SATM                       2469178
SAT_TOTAL                  2469178
Term                       2469178
CRN                        2469178
SUBJ                       2469178
CRSE_NUMB                  2469178
Repeat_Ind                   77976
SHRTCKG_GRDE_CODE_FINAL    2469178
Full_Course                2469178
dtype: int64