In [118]:
import pandas as pd

student_data = pd.read_csv("studentData.csv")
grades = pd.read_csv("parsed_grades.csv")

In [119]:
#Add Numeric GPA Column

grade_mapping = dict(grades[['Code', 'Quality Points']].values)

student_data['numeric_gpa'] = student_data.SHRTCKG_GRDE_CODE_FINAL.map(grade_mapping)
student_data['numeric_gpa'] = student_data['numeric_gpa'].astype(float)

student_data.head()

,Pidm,Admit_Code,Admit_Desc,Admit_Term,Admit_Level,Admit_College,Admit_Major_Code,Major_Desc,MULTI,Race,...,SAT-ERW,SATM,SAT_TOTAL,Term,CRN,SUBJ,CRSE_NUMB,Repeat_Ind,SHRTCKG_GRDE_CODE_FINAL,numeric_gpa
0,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,202101.0,10803.0,LIS,3361,NaN,A,4.00
1,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,202101.0,16614.0,LIS,3353,NaN,A-,3.67
2,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,202101.0,24972.0,COP,2030,NaN,B+,3.33
3,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,202101.0,26205.0,CIS,4510,NaN,A,4.00
4,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,202105.0,54564.0,LIS,4365,NaN,W,NaN

In [120]:
#Final and Semester GPAs (Assuming all classes are equal credits)

student_final_gpa = student_data.groupby('Pidm')['numeric_gpa'].mean().reset_index()

student_semester_gpa = student_data.groupby(['Pidm', 'Term'])['numeric_gpa'].mean().reset_index()


print(student_final_gpa)
print(student_semester_gpa)

           Pidm  numeric_gpa
0           285     3.750000
1           432     0.000000
2           705     4.000000
3           794     3.977241
4          1089     4.000000
...         ...          ...
105878  3991351          NaN
105879  3991376          NaN
105880  3991590          NaN
105881  3991850          NaN
105882  3992464          NaN

[105883 rows x 2 columns]
           Pidm      Term  numeric_gpa
0           285  202101.0        3.750
1           285  202105.0          NaN
2           432  201908.0        0.000
3           705  202208.0        4.000
4           794  201508.0        4.000
...         ...       ...          ...
672154  3984703  202405.0        3.500
672155  3984725  202405.0        3.335
672156  3984750  202405.0        2.330
672157  3984772  202405.0        0.000
672158  3988409  202405.0        2.335

[672159 rows x 3 columns]

In [121]:
#Student Classes per Semester (As an array of strings)

student_data['class'] = student_data['SUBJ'] + student_data['CRSE_NUMB']
student_data['class'] = student_data['class'].astype(str)
semester_classes = student_data.groupby(['Pidm', 'Term'])['class'].apply(list).reset_index()

print(semester_classes)

           Pidm      Term                                              class
0           285  202101.0               [LIS3361, LIS3353, COP2030, CIS4510]
1           285  202105.0                                          [LIS4365]
2           432  201908.0                        [MUS4930, CCJ3117, IDS4934]
3           705  202208.0  [MCB2000, MCB2000L, HUN2201, BSC2085, BSC2085L...
4           794  201508.0                        [NUR3805, NUR3078, NUR4895]
...         ...       ...                                                ...
672154  3984703  202405.0                                 [SLS2901, THE2000]
672155  3984725  202405.0                                 [HSC2000, SPC2608]
672156  3984750  202405.0                                          [MMC3602]
672157  3984772  202405.0                                          [HUM1020]
672158  3988409  202405.0                                 [PSY2012, THE2000]

[672159 rows x 3 columns]

In [122]:
student_gpa_map = dict(student_final_gpa[['Pidm', 'numeric_gpa']].values)
student_data['Final GPA'] = student_data.Pidm.map(student_gpa_map)

student_data.drop(['CRN', 'SUBJ', 'CRSE_NUMB', 'Repeat_Ind', 'SHRTCKG_GRDE_CODE_FINAL', 'numeric_gpa', 'class'], axis=1, inplace=True)
student_data.rename(columns={'Final_GPA':'HS GPA', 'Term':'Semester'}, inplace=True)
student_data.head()

,Pidm,Admit_Code,Admit_Desc,Admit_Term,Admit_Level,Admit_College,Admit_Major_Code,Major_Desc,MULTI,Race,...,ACTE,ACTM,ACTR,ACTS,EACT,SAT-ERW,SATM,SAT_TOTAL,Semester,Final GPA
0,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,-,-,-,-,-,202101.0,3.75
1,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,-,-,-,-,-,202101.0,3.75
2,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,-,-,-,-,-,202101.0,3.75
3,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,-,-,-,-,-,202101.0,3.75
4,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,-,-,-,-,-,202105.0,3.75

In [123]:
student_data = student_data.groupby(['Pidm', 'Admit_Code', 'Admit_Desc', 'Admit_Term', 'Admit_College', 'Admit_Major_Code', 'Major_Desc', 'MULTI', 'Race', 'NEW_ETHNICITY', 'GENDER_Code', 'GENDER', 'CITZ_IND', 'CITZ_CODE', 'CITZ_DESC', 'HS GPA', 'ACTE', 'ACTM', 'ACTR', 'ACTS', 'EACT', 'SAT-ERW', 'SATM', 'SAT_TOTAL', 'Semester', 'Final GPA']).size().reset_index(name='count')
student_data.drop(['count'], axis=1, inplace=True)
student_data['Semester GPA'] = student_semester_gpa['numeric_gpa']
student_data['Classes'] = semester_classes['class']

student_data.head()

,Pidm,Admit_Code,Admit_Desc,Admit_Term,Admit_College,Admit_Major_Code,Major_Desc,MULTI,Race,NEW_ETHNICITY,...,ACTR,ACTS,EACT,SAT-ERW,SATM,SAT_TOTAL,Semester,Final GPA,Semester GPA,Classes
0,3963,FS,Former USF Student Returning,201508,SP,FIN,Finance,Multi-Race,B Black or African American\nW White,Not Hispanic or Latino,...,-,-,-,-,-,-,201508.0,4.000,3.75,"[LIS3361, LIS3353, COP2030, CIS4510]"
1,15670,FS,Former USF Student Returning,202201,US,BGS,General Studies,Multi-Race,B Black or African American\nW White,Not Hispanic or Latino,...,21,20,21,-,-,-,202201.0,4.000,NaN,[LIS4365]
2,351891,SB,Second Baccalaureate,201601,SA,ISS,Interdisciplinary Social Sci,Multi-Race,B Black or African American\nW White,Hispanic or Latino,...,34,20,24,360,570,930,201601.0,2.066,0.00,"[MUS4930, CCJ3117, IDS4934]"
3,351891,SB,Second Baccalaureate,201601,SA,ISS,Interdisciplinary Social Sci,Multi-Race,B Black or African American\nW White,Hispanic or Latino,...,34,20,24,360,570,930,201608.0,2.066,4.00,"[MCB2000, MCB2000L, HUN2201, BSC2085, BSC2085L..."
4,351891,SB,Second Baccalaureate,201601,SA,ISS,Interdisciplinary Social Sci,Multi-Race,B Black or African American\nW White,Hispanic or Latino,...,34,20,24,360,570,930,201701.0,2.066,4.00,"[NUR3805, NUR3078, NUR4895]"

In [126]:
student_data = student_data.astype(str)
student_data['Pidm'] = student_data['Pidm'].astype(int)
student_data['Final GPA'] = student_data['Final GPA'].astype(float)
student_data['Semester'] = student_data['Semester'].astype(float)
student_data['Semester'] = student_data['Semester'].round(0)
student_data['Semester'] = student_data['Semester'].astype(str)







print(student_data)

          Pidm Admit_Code                    Admit_Desc Admit_Term  \
0         3963         FS  Former USF Student Returning     201508
1        15670         FS  Former USF Student Returning     202201
2       351891         SB          Second Baccalaureate     201601
3       351891         SB          Second Baccalaureate     201601
4       351891         SB          Second Baccalaureate     201601
...        ...        ...                           ...        ...
34849  3970631         BL  Beginner(FTIC) - Lower Level     202405
34850  3971554         BL  Beginner(FTIC) - Lower Level     202405
34851  3972828         BL  Beginner(FTIC) - Lower Level     202405
34852  3974947         BL  Beginner(FTIC) - Lower Level     202405
34853  3976542         BL  Beginner(FTIC) - Lower Level     202405

      Admit_College Admit_Major_Code                    Major_Desc  \
0                SP              FIN                       Finance
1                US              BGS               General Studies
2                SA              ISS  Interdisciplinary Social Sci
3                SA              ISS  Interdisciplinary Social Sci
4                SA              ISS  Interdisciplinary Social Sci
...             ...              ...                           ...
34849            PH              HSS               Health Sciences
34850            AC              SOC                     Sociology
34851            AC              BMS           Biomedical Sciences
34852            PH              HSS               Health Sciences
34853            AC              PPS   Professional Sciences (Pre)

            MULTI                                         Race  \
0      Multi-Race         B Black or African American\nW White
1      Multi-Race         B Black or African American\nW White
2      Multi-Race         B Black or African American\nW White
3      Multi-Race         B Black or African American\nW White
4      Multi-Race         B Black or African American\nW White
...           ...                                          ...
34849  Multi-Race         B Black or African American\nW White
34850  Multi-Race                             A Asian\nW White
34851  Multi-Race         A Asian\nB Black or African American
34852  Multi-Race  I American Indian or Alaska Native\nW White
34853  Multi-Race         B Black or African American\nW White

                NEW_ETHNICITY  ... ACTR ACTS EACT SAT-ERW SATM SAT_TOTAL  \
0      Not Hispanic or Latino  ...    -    -    -       -    -         -
1      Not Hispanic or Latino  ...   21   20   21       -    -         -
2          Hispanic or Latino  ...   34   20   24     360  570       930
3          Hispanic or Latino  ...   34   20   24     360  570       930
4          Hispanic or Latino  ...   34   20   24     360  570       930
...                       ...  ...  ...  ...  ...     ...  ...       ...
34849  Not Hispanic or Latino  ...    -    -    -     610  580      1190
34850  Not Hispanic or Latino  ...   29   25   27     690  630      1320
34851  Not Hispanic or Latino  ...    -    -    -     710  660      1370
34852  Not Hispanic or Latino  ...    -    -    -     610  520      1130
34853      Hispanic or Latino  ...    -    -    -     530  550      1080

       Semester Final GPA Semester GPA  \
0      201508.0     4.000         3.75
1      202201.0     4.000          nan
2      201601.0     2.066          0.0
3      201608.0     2.066          4.0
4      201701.0     2.066          4.0
...         ...       ...          ...
34849  202405.0     4.000         2.33
34850  202405.0     3.000       2.8325
34851  202405.0     3.165          2.8
34852  202405.0     3.000          4.0
34853  202405.0     4.000         2.75

                                                 Classes
0           ['LIS3361', 'LIS3353', 'COP2030', 'CIS4510']
1                                            ['LIS4365']
2                      ['MUS4930', 'CCJ3117', 'IDS4934']
3      ['MCB2000', 'MCB2000L', 'HUN2201', 'BSC2085', ...
4                      ['NUR3805', 'NUR3078', 'NUR4895']
...                                                  ...
34849                             ['MAC2282', 'EGN3615']
34850      ['PHY2048L', 'MAC2283', 'EGN3615', 'PHY2048']
34851  ['PHY2049', 'EGN3443', 'EGN3433', 'EEL4705', '...
34852                                        ['EGN3433']
34853  ['EEE3394', 'EEL2161', 'EGN3000L', 'EGN3000', ...

[34854 rows x 28 columns]

In [125]:
student_data.to_csv('new_table.csv')