In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

##### Import data

In [2]:
df = pd.read_csv("data/ML - Curricular Analytics - PIDM ONLY.csv")
display(df.shape)
display(df.head(2))

C:\Users\artkr\AppData\Local\Temp\ipykernel_4820\3933416625.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("ML - Curricular Analytics - PIDM ONLY.csv")

(2679373, 33)

,Pidm,Admit_Code,Admit_Desc,Admit_Term,Admit_Level,Admit_College,Admit_Major_Code,Major_Desc,Trump_Race,Trump_Race_Desc,...,EACT,SAT-ERW,SATM,SAT_TOTAL,Term,CRN,SUBJ,CRSE_NUMB,Repeat_Ind,SHRTCKG_GRDE_CODE_FINAL
0,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,10803.0,LIS,3361,NaN,A
1,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,16614.0,LIS,3353,NaN,A-

In [3]:
def is_int(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

print(set(df["Admit_Desc"]))
print(set(df["Admit_Code"]))
class_numbers = [int(x) for x in df["CRSE_NUMB"] if is_int(x) and int(x) > 4999]
print("Total number of >4000 classes ", len(class_numbers))

{'Other UG Transf - Lower Level', 'Beginner(FTIC) - Lower Level', 'Former USF Student Returning', 'Other UG Transf - Upper Level', 'Early Admit - Lower Level', 'Second Baccalaureate', 'Beginner(FTIC) - w/ AA', 'Fl Comm Coll Transf-Upper Levl', 'Fl Comm Coll Transf-Lower Levl'}
{'FS', 'BL', 'UL', 'JU', 'UU', 'SB', 'JL', 'FL', 'EL'}
Total number of >4000 classes  72850

In [4]:
# Leave only UG classes
print(set(df["Admit_Level"].dropna()))
df = df[df["Admit_Level"] == "UG"]
display(df.shape)
display(df.head(5))

{'UG'}

(2679373, 33)

,Pidm,Admit_Code,Admit_Desc,Admit_Term,Admit_Level,Admit_College,Admit_Major_Code,Major_Desc,Trump_Race,Trump_Race_Desc,...,EACT,SAT-ERW,SATM,SAT_TOTAL,Term,CRN,SUBJ,CRSE_NUMB,Repeat_Ind,SHRTCKG_GRDE_CODE_FINAL
0,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,10803.0,LIS,3361,NaN,A
1,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,16614.0,LIS,3353,NaN,A-
2,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,24972.0,COP,2030,NaN,B+
3,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,26205.0,CIS,4510,NaN,A
4,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202105.0,54564.0,LIS,4365,NaN,W

##### Check all possible values in "Repeat_Ind"

In [5]:
repeat_id_set = set(df["Repeat_Ind"].dropna())
repeat_id_set

{'M', 'S'}

##### Number of distinct classes and students

In [6]:
df["Full Course"] = df["SUBJ"]+df["CRSE_NUMB"]
course_set = set(df["Full Course"].dropna())
print("Number of distinct classes =", len(course_set))


student_set = set(df["Pidm"].dropna())
print("Number of distinct students =", len(student_set))


female_students = set(df[df['GENDER_Code'] == "F"]['Pidm'])
male_students = set(df[df['GENDER_Code'] == "M"]['Pidm'])
nonbinary_students = set(df[df['GENDER_Code'] == "N"]['Pidm'])
print("Number of males =", len(male_students), "; females =", len(female_students), "; nonbinary =", len(nonbinary_students))

Number of distinct classes = 5475
Number of distinct students = 105993
Number of males = 44637 ; females = 61343 ; nonbinary = 13

##### Perfromance statistics

In [7]:
grades = set(df["SHRTCKG_GRDE_CODE_FINAL"].dropna())
print("All", len(grades), "grade codes =", grades)
A_grades = ['A*', 'A+', 'A-*', 'A#', 'A+*', 'A-', 'A', 'S', 'S*']
B_grades = ['B#', 'B-', 'B', 'B*', 'B-*', 'B+#', 'B+', 'B+*']
C_grades = ['C+*', 'C-', 'C', 'C*', 'C-*', 'CA+', 'C-#', 'C+']
Fail_grades = {'D-', 'F*', 'D+*', 'D#', 'D+', 'F#', 'D', 'D*', 'D-*', 'F'}

Z_grade = df[df['SHRTCKG_GRDE_CODE_FINAL'] == "Z"]["CRSE_NUMB"]
display(Z_grade)

A_counts = df[df['SHRTCKG_GRDE_CODE_FINAL'].isin(A_grades)]
B_counts = df[df['SHRTCKG_GRDE_CODE_FINAL'].isin(B_grades)]
C_counts = df[df['SHRTCKG_GRDE_CODE_FINAL'].isin(C_grades)]
Fail_counts = df[df['SHRTCKG_GRDE_CODE_FINAL'].isin(Fail_grades)]

All 78 grade codes = {'A', 'C', 'C-', 'F*', 'D', 'M', 'CC+', 'CB+', 'A-', 'B', 'S*', 'B+#', 'F#', 'CF', 'S', 'W*', 'IS', 'CA-', 'IC', 'CC', 'B+', 'A+', 'CD+', 'B-', 'D#', 'U*', 'D-*', 'D+*', 'IC+', 'F', 'A-*', 'WE', 'B+*', 'I', 'CD', 'A*', 'IU*', 'IC-', 'C*', '-', 'C-#', 'W', 'CU', 'A+*', 'Z*', 'CS', 'D+', 'IF', 'N', 'CB', 'D*', 'U', 'IU', 'CA', 'CW', 'CD-', 'B#', 'CB-', 'MU', 'IF*', 'WC', 'CFF', 'C+*', 'CC-', 'C+', 'CI', 'C-*', 'Z', 'CA+', 'CIF', 'CM', 'D-', 'A#', 'ID', 'B-*', 'B*', 'FF', 'IB'}

1983       6971
2236       7980
2237       7980
2238       7980
2239       7980
           ...
2104822    6971
2139939    6971
2139943    6971
2139946    6971
2320586    6971
Name: CRSE_NUMB, Length: 1103, dtype: object

In [8]:
print("A-class grades", A_counts.shape[0])
print("B-class grades", B_counts.shape[0])
print("C-class grades", C_counts.shape[0])
print("Fail-class grades", Fail_counts.shape[0])
print("Unclassified grades", df.shape[0] - A_counts.shape[0] - B_counts.shape[0] - C_counts.shape[0] - Fail_counts.shape[0])

A-class grades 1486971
B-class grades 667085
C-class grades 278788
Fail-class grades 135402
Unclassified grades 111127

// Ask grade unclassified grade definitions
// check undergrad vs grad students

In [9]:
grades = pd.read_csv("data/SHAGRDE.csv")
grades.head(5)

,Code,Level,Abbr.,Term,Status,Quality Points,Count in Attempted?,Count in Passed?,Count in Earned?,Count in GPA?,FA Enroll Verification,Incomplete Grade Ind?,Incomplete Grade Default,Traditional Ind,Numeric Value,Repeat Ind,Unnamed: 16,Unnamed: 17
0,-,GR,DASH,196009,A,0.0,Y,Y,Y,N,N,N,NaN,N,0.0,Y,NaN,NaN
1,-#,GR,DASH,196009,A,0.0,Y,N,N,N,Y,N,NaN,N,0.0,Y,NaN,NaN
2,-*,GR,DASH,196009,A,0.0,Y,N,N,N,N,N,NaN,N,0.0,Y,NaN,NaN
3,A,GR,A,196009,A,4.0,Y,Y,Y,Y,Y,N,NaN,Y,98.0,Y,NaN,NaN
4,A#,GR,CLR/A,196009,A,0.0,Y,N,N,N,N,N,NaN,N,98.0,Y,NaN,NaN

In [10]:
# Leave only grades from UG level
grades_UG = grades[grades["Level"] == "UG"]

# Leave the grade GPA from the latest update(column "Term")
grades_UG_Latest = grades_UG.loc[grades_UG.groupby('Code')['Term'].idxmax()]

# Leave where GPA is counted
grades_final_1 = grades_UG_Latest[grades_UG_Latest["Count in GPA?"] == "Y"]
grades_final_2 = grades_UG_Latest[grades_UG_Latest["Quality Points"] > 0]

In [12]:
print(grades.shape)
print(grades_UG.shape)
print(grades_UG_Latest.shape)
print(grades_final_1.shape)
print(grades_final_2.shape)

display(grades_final_1)
display(grades_final_2)

grades_final_1.to_csv('data/parsed_grades.csv', index=False)

(699, 18)
(215, 18)
(136, 18)
(28, 18)
(23, 18)

,Code,Level,Abbr.,Term,Status,Quality Points,Count in Attempted?,Count in Passed?,Count in Earned?,Count in GPA?,FA Enroll Verification,Incomplete Grade Ind?,Incomplete Grade Default,Traditional Ind,Numeric Value,Repeat Ind,Unnamed: 16,Unnamed: 17
493,A,UG,A,196009,A,4.00,Y,Y,Y,Y,Y,N,NaN,Y,98.0,Y,NaN,NaN
499,A+,UG,A+,200008,A,4.00,Y,Y,Y,Y,Y,N,NaN,Y,99.0,Y,NaN,NaN
505,A-,UG,A-,200008,A,3.67,Y,Y,Y,Y,Y,N,NaN,Y,97.0,Y,NaN,NaN
510,B,UG,B,196009,A,3.00,Y,Y,Y,Y,Y,N,NaN,Y,85.0,Y,NaN,NaN
516,B+,UG,B+,200008,A,3.33,Y,Y,Y,Y,Y,N,NaN,Y,86.0,Y,NaN,NaN
522,B-,UG,B-,200008,A,2.67,Y,Y,Y,Y,Y,N,NaN,Y,84.0,Y,NaN,NaN
527,C,UG,C,196009,A,2.00,Y,Y,Y,Y,Y,N,NaN,Y,75.0,Y,NaN,NaN
533,C+,UG,C+,200008,A,2.33,Y,Y,Y,Y,Y,N,NaN,Y,78.0,Y,NaN,NaN
540,C-,UG,C-,200008,A,1.67,Y,Y,Y,Y,Y,N,NaN,Y,73.0,Y,NaN,NaN
575,D,UG,D,196009,A,1.00,Y,Y,Y,Y,Y,N,NaN,Y,65.0,Y,NaN,NaN
581,D+,UG,D+,200008,A,1.33,Y,Y,Y,Y,Y,N,NaN,Y,70.0,Y,NaN,NaN
587,D-,UG,D-,200008,A,0.67,Y,Y,Y,Y,Y,N,NaN,Y,60.0,Y,NaN,NaN
592,F,UG,F,196009,A,0.00,Y,N,N,Y,Y,N,NaN,Y,0.0,Y,NaN,NaN
596,FF,UG,DISHONE,196009,A,0.00,Y,N,N,Y,N,N,NaN,N,0.0,Y,NaN,NaN
615,IF,UG,I/F,196009,A,0.00,Y,N,N,Y,N,N,NaN,Y,0.0,Y,NaN,NaN
633,MF,UG,M/F,196009,A,0.00,Y,N,N,Y,N,N,NaN,N,0.0,Y,NaN,NaN
651,Q1,UG,D+,196009,A,1.50,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
653,Q2,UG,C-,196009,A,1.75,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
655,Q3,UG,C+,196009,A,2.50,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
657,Q4,UG,B-,196009,A,2.75,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
659,Q5,UG,B+,196009,A,3.50,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
661,Q6,UG,A-,196009,A,3.75,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
663,QA,UG,A,196009,A,4.00,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
665,QB,UG,B,196009,A,3.00,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
667,QC,UG,C,196009,A,2.00,Y,Y,Y,Y,Y,N,NaN,N,0.0,Y,NaN,NaN
668,QC-,UG,C-,201308,A,2.00,Y,N,N,Y,N,N,NaN,N,0.0,Y,NaN,NaN
671,QD,UG,D,201308,A,1.00,Y,N,N,Y,N,N,NaN,N,0.0,Y,NaN,NaN
672,QF,UG,F,201308,A,0.00,Y,N,N,Y,N,N,NaN,N,0.0,Y,NaN,NaN

,Code,Level,Abbr.,Term,Status,Quality Points,Count in Attempted?,Count in Passed?,Count in Earned?,Count in GPA?,FA Enroll Verification,Incomplete Grade Ind?,Incomplete Grade Default,Traditional Ind,Numeric Value,Repeat Ind,Unnamed: 16,Unnamed: 17
493,A,UG,A,196009,A,4.00,Y,Y,Y,Y,Y,N,NaN,Y,98.0,Y,NaN,NaN
499,A+,UG,A+,200008,A,4.00,Y,Y,Y,Y,Y,N,NaN,Y,99.0,Y,NaN,NaN
505,A-,UG,A-,200008,A,3.67,Y,Y,Y,Y,Y,N,NaN,Y,97.0,Y,NaN,NaN
510,B,UG,B,196009,A,3.00,Y,Y,Y,Y,Y,N,NaN,Y,85.0,Y,NaN,NaN
516,B+,UG,B+,200008,A,3.33,Y,Y,Y,Y,Y,N,NaN,Y,86.0,Y,NaN,NaN
522,B-,UG,B-,200008,A,2.67,Y,Y,Y,Y,Y,N,NaN,Y,84.0,Y,NaN,NaN
527,C,UG,C,196009,A,2.00,Y,Y,Y,Y,Y,N,NaN,Y,75.0,Y,NaN,NaN
533,C+,UG,C+,200008,A,2.33,Y,Y,Y,Y,Y,N,NaN,Y,78.0,Y,NaN,NaN
540,C-,UG,C-,200008,A,1.67,Y,Y,Y,Y,Y,N,NaN,Y,73.0,Y,NaN,NaN
575,D,UG,D,196009,A,1.00,Y,Y,Y,Y,Y,N,NaN,Y,65.0,Y,NaN,NaN
581,D+,UG,D+,200008,A,1.33,Y,Y,Y,Y,Y,N,NaN,Y,70.0,Y,NaN,NaN
587,D-,UG,D-,200008,A,0.67,Y,Y,Y,Y,Y,N,NaN,Y,60.0,Y,NaN,NaN
651,Q1,UG,D+,196009,A,1.50,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
653,Q2,UG,C-,196009,A,1.75,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
655,Q3,UG,C+,196009,A,2.50,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
657,Q4,UG,B-,196009,A,2.75,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
659,Q5,UG,B+,196009,A,3.50,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
661,Q6,UG,A-,196009,A,3.75,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
663,QA,UG,A,196009,A,4.00,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
665,QB,UG,B,196009,A,3.00,Y,Y,Y,Y,Y,N,NaN,N,NaN,Y,NaN,NaN
667,QC,UG,C,196009,A,2.00,Y,Y,Y,Y,Y,N,NaN,N,0.0,Y,NaN,NaN
668,QC-,UG,C-,201308,A,2.00,Y,N,N,Y,N,N,NaN,N,0.0,Y,NaN,NaN
671,QD,UG,D,201308,A,1.00,Y,N,N,Y,N,N,NaN,N,0.0,Y,NaN,NaN