In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

##### Import data

In [24]:
df = pd.read_csv("data/ML - Curricular Analytics - PIDM ONLY & Fixed Repeat IND.csv")
display(df.shape)
display(df.head(2))

C:\Users\artkr\AppData\Local\Temp\ipykernel_15916\2586984562.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/ML - Curricular Analytics - PIDM ONLY & Fixed Repeat IND.csv")

(2677409, 33)

,Pidm,Admit_Code,Admit_Desc,Admit_Term,Admit_Level,Admit_College,Admit_Major_Code,Major_Desc,Trump_Race,Trump_Race_Desc,...,EACT,SAT-ERW,SATM,SAT_TOTAL,Term,CRN,SUBJ,CRSE_NUMB,REPEAT_IND,FINAL_GRADE
0,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,10803.0,LIS,3361,NaN,A
1,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,16614.0,LIS,3353,NaN,A-

In [25]:
def is_int(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

print(set(df["Admit_Desc"]))
print(set(df["Admit_Code"]))
class_numbers = [int(x) for x in df["CRSE_NUMB"] if is_int(x) and int(x) > 4999]
print("Total number of >4000 classes ", len(class_numbers))

{'Fl Comm Coll Transf-Upper Levl', 'Beginner(FTIC) - Lower Level', 'Other UG Transf - Upper Level', 'Early Admit - Lower Level', 'Second Baccalaureate', 'Fl Comm Coll Transf-Lower Levl', 'Former USF Student Returning', 'Other UG Transf - Lower Level', 'Beginner(FTIC) - w/ AA'}
{'FL', 'FS', 'UU', 'EL', 'UL', 'BL', 'JL', 'SB', 'JU'}
Total number of >4000 classes  72848

In [26]:
# Leave only UG classes
print(set(df["Admit_Level"].dropna()))
df = df[df["Admit_Level"] == "UG"]
display(df.shape)
display(df.head(5))

{'UG'}

(2677409, 33)

,Pidm,Admit_Code,Admit_Desc,Admit_Term,Admit_Level,Admit_College,Admit_Major_Code,Major_Desc,Trump_Race,Trump_Race_Desc,...,EACT,SAT-ERW,SATM,SAT_TOTAL,Term,CRN,SUBJ,CRSE_NUMB,REPEAT_IND,FINAL_GRADE
0,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,10803.0,LIS,3361,NaN,A
1,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,16614.0,LIS,3353,NaN,A-
2,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,24972.0,COP,2030,NaN,B+
3,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202101.0,26205.0,CIS,4510,NaN,A
4,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,W,White,...,-,-,-,-,202105.0,54564.0,LIS,4365,NaN,W

##### Check all possible values in "Repeat_Ind"

In [27]:
repeat_id_set = set(df["REPEAT_IND"].dropna())
repeat_id_set

{'A', 'E', 'I'}

##### Number of distinct classes and students

In [28]:
df["Full Course"] = df["SUBJ"]+df["CRSE_NUMB"]
course_set = set(df["Full Course"].dropna())
print("Number of distinct classes =", len(course_set))


student_set = set(df["Pidm"].dropna())
print("Number of distinct students =", len(student_set))


female_students = set(df[df['GENDER_Code'] == "F"]['Pidm'])
male_students = set(df[df['GENDER_Code'] == "M"]['Pidm'])
nonbinary_students = set(df[df['GENDER_Code'] == "N"]['Pidm'])
print("Number of males =", len(male_students), "; females =", len(female_students), "; nonbinary =", len(nonbinary_students))

Number of distinct classes = 5475
Number of distinct students = 104140
Number of males = 43886 ; females = 60241 ; nonbinary = 13

##### Perfromance statistics

// Ask grade unclassified grade definitions
// check undergrad vs grad students

In [30]:
grades = pd.read_csv("data/SHAGRDE.csv")
grades.head(5)

,Code,Level,Abbr.,Term,Status,Quality Points,Count in Attempted?,Count in Passed?,Count in Earned?,Count in GPA?,FA Enroll Verification,Incomplete Grade Ind?,Incomplete Grade Default,Traditional Ind,Numeric Value,Repeat Ind,Unnamed: 16,Unnamed: 17
0,-,GR,DASH,196009,A,0.0,Y,Y,Y,N,N,N,NaN,N,0.0,Y,NaN,NaN
1,-#,GR,DASH,196009,A,0.0,Y,N,N,N,Y,N,NaN,N,0.0,Y,NaN,NaN
2,-*,GR,DASH,196009,A,0.0,Y,N,N,N,N,N,NaN,N,0.0,Y,NaN,NaN
3,A,GR,A,196009,A,4.0,Y,Y,Y,Y,Y,N,NaN,Y,98.0,Y,NaN,NaN
4,A#,GR,CLR/A,196009,A,0.0,Y,N,N,N,N,N,NaN,N,98.0,Y,NaN,NaN

In [33]:
# Leave only grades from UG level
grades_UG = grades[grades["Level"] == "UG"]

# Leave the grade GPA from the latest update(column "Term")
grades_UG_Latest = grades_UG.loc[grades_UG.groupby('Code')['Term'].idxmax()]

# Leave where GPA is counted
grades_final_1 = grades_UG_Latest[(grades_UG_Latest["Traditional Ind"] == "Y")]
grades_final_2 = grades_UG_Latest[grades_UG_Latest["Quality Points"] > 0]

In [35]:
S_grades = grades_UG_Latest[grades_UG_Latest["Code"] == "S"]
U_grades = grades_UG_Latest[grades_UG_Latest["Code"] == "U"]

print(grades_final_1.shape)


final_grades = pd.concat([grades_final_1, S_grades, U_grades])

display(grades_final_1)
final_grades.to_csv('data/parsed_grades.csv', index=False)

(32, 18)

,Code,Level,Abbr.,Term,Status,Quality Points,Count in Attempted?,Count in Passed?,Count in Earned?,Count in GPA?,FA Enroll Verification,Incomplete Grade Ind?,Incomplete Grade Default,Traditional Ind,Numeric Value,Repeat Ind,Unnamed: 16,Unnamed: 17
493,A,UG,A,196009,A,4.00,Y,Y,Y,Y,Y,N,NaN,Y,98.0,Y,NaN,NaN
499,A+,UG,A+,200008,A,4.00,Y,Y,Y,Y,Y,N,NaN,Y,99.0,Y,NaN,NaN
505,A-,UG,A-,200008,A,3.67,Y,Y,Y,Y,Y,N,NaN,Y,97.0,Y,NaN,NaN
510,B,UG,B,196009,A,3.00,Y,Y,Y,Y,Y,N,NaN,Y,85.0,Y,NaN,NaN
516,B+,UG,B+,200008,A,3.33,Y,Y,Y,Y,Y,N,NaN,Y,86.0,Y,NaN,NaN
522,B-,UG,B-,200008,A,2.67,Y,Y,Y,Y,Y,N,NaN,Y,84.0,Y,NaN,NaN
527,C,UG,C,196009,A,2.00,Y,Y,Y,Y,Y,N,NaN,Y,75.0,Y,NaN,NaN
533,C+,UG,C+,200008,A,2.33,Y,Y,Y,Y,Y,N,NaN,Y,78.0,Y,NaN,NaN
540,C-,UG,C-,200008,A,1.67,Y,Y,Y,Y,Y,N,NaN,Y,73.0,Y,NaN,NaN
575,D,UG,D,196009,A,1.00,Y,Y,Y,Y,Y,N,NaN,Y,65.0,Y,NaN,NaN
581,D+,UG,D+,200008,A,1.33,Y,Y,Y,Y,Y,N,NaN,Y,70.0,Y,NaN,NaN
587,D-,UG,D-,200008,A,0.67,Y,Y,Y,Y,Y,N,NaN,Y,60.0,Y,NaN,NaN
592,F,UG,F,196009,A,0.00,Y,N,N,Y,Y,N,NaN,Y,0.0,Y,NaN,NaN
599,I,UG,INC,201101,A,0.00,Y,N,N,N,Y,Y,IF,Y,0.0,Y,NaN,NaN
602,IA,UG,INCA,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
603,IA+,UG,INCA+,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
604,IA-,UG,INCA-,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
605,IB,UG,INCB,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
606,IB+,UG,INCB+,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
607,IB-,UG,INCB-,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
608,IC,UG,INCC,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
609,IC+,UG,INCC+,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
610,IC-,UG,INCC-,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
611,ID,UG,INCD,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
612,ID+,UG,INCD+,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
613,ID-,UG,INCD-,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
615,IF,UG,I/F,196009,A,0.00,Y,N,N,Y,N,N,NaN,Y,0.0,Y,NaN,NaN
625,IS,UG,INCS,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
628,IU,UG,INCS,200808,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
632,M,UG,MISSING,196009,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN
676,S,UG,SAT,196009,A,0.00,Y,Y,Y,N,Y,N,NaN,Y,75.0,Y,NaN,NaN
681,U,UG,UNSAT,196009,A,0.00,Y,N,N,N,Y,N,NaN,Y,0.0,Y,NaN,NaN

PermissionError: [Errno 13] Permission denied: 'data/parsed_grades.csv'

In [13]:
# Combine 'SUBJ' and 'CRSE_NUMB' into a single 'Course' column
df['Course'] = df[['SUBJ', 'CRSE_NUMB']].apply(lambda x: f"{x['SUBJ']}{x['CRSE_NUMB']}", axis=1)

# Load grades data
grades_df = pd.read_csv("data/parsed_grades.csv")

# Merge the two dataframes to bring in the Quality Points based on the grade code
df = pd.merge(df, grades_df[['Code', 'Quality Points']], left_on='FINAL_GRADE', right_on='Code', how='left', suffixes=('', '_grades'))

# Fill missing 'Quality Points' with 0.0 for unrecognized grades
df['Quality Points'] = df['Quality Points'].fillna(0.0)

# Filter the columns
selected_columns = [
    'Pidm', 'Admit_Level', 'Admit_College', 'Admit_Major_Code', 'Major_Desc',
    'Race', 'NEW_ETHNICITY', 'GENDER_Code', 'CITZ_IND', 'CITZ_DESC',
    'Quality Points', 'Final_GPA', 'ACTE', 'ACTM', 'ACTR', 'ACTS', 'EACT', 'SAT-ERW',
    'SATM', 'SAT_TOTAL', 'Term', 'Course'
]
df_filtered = df[selected_columns]

# Group by 'Pidm' and 'Term' (Semester), calculate the average GPA using 'Quality Points', and aggregate courses into an array
grouped_df = df_filtered.groupby(['Pidm', 'Term']).agg({
    'Admit_Level': 'first',
    'Admit_College': 'first',
    'Admit_Major_Code': 'first',
    'Major_Desc': 'first',
    'Race': 'first',
    'NEW_ETHNICITY': 'first',
    'GENDER_Code': 'first',
    'CITZ_IND': 'first',
    'CITZ_DESC': 'first',
    'Quality Points': [
        ('Semester_GPA', 'mean'),               # Calculate the mean GPA for each term
        ('Course_Grades', lambda x: list(x))    # Gather grades into an array for each course
    ],
    'ACTE': 'first',
    'ACTM': 'first',
    'ACTR': 'first',
    'ACTS': 'first',
    'EACT': 'first',
    'SAT-ERW': 'first',
    'SATM': 'first',
    'SAT_TOTAL': 'first',
    'Final_GPA': 'first',  # Include Final_GPA here to rename it later
    'Course': lambda x: list(x)  # Gather courses into an array
}).reset_index()

# Rename columns, including renaming 'Final_GPA' to 'School_GPA'
grouped_df.columns = ['Pidm', 'Term', 'Admit_Level', 'Admit_College', 'Admit_Major_Code', 'Major_Desc', 'Race',
                      'NEW_ETHNICITY', 'GENDER_Code', 'CITZ_IND', 'CITZ_DESC', 'Semester_GPA', 'Course_Grades',
                      'ACTE', 'ACTM', 'ACTR', 'ACTS', 'EACT', 'SAT_ERW', 'SATM', 'SAT_TOTAL', 'School_GPA', 'Courses']

# Ensure 'School_GPA' is included in the final column order
columns_order = [
    'Pidm', 'Term', 'Admit_Level', 'Admit_College', 'Admit_Major_Code', 'Major_Desc', 'Race',
    'NEW_ETHNICITY', 'GENDER_Code', 'CITZ_IND', 'CITZ_DESC', 'ACTE', 'ACTM', 'ACTR', 'ACTS',
    'EACT', 'SAT_ERW', 'SATM', 'SAT_TOTAL', 'School_GPA', 'Course_Grades', 'Semester_GPA', 'Courses']

# Apply the new column order
grouped_df = grouped_df[columns_order]

# Ensure GPA is capped at 4.0 and round it to 2 decimal places
grouped_df['Semester_GPA'] = grouped_df['Semester_GPA'].apply(lambda x: min(x, 4.0)).round(2)

# Save the cleaned data to CSV
grouped_df.to_csv('data/clean_data.csv', index=False)
grouped_df.head(5)

,Pidm,Term,Admit_Level,Admit_College,Admit_Major_Code,Major_Desc,Race,NEW_ETHNICITY,GENDER_Code,CITZ_IND,...,ACTR,ACTS,EACT,SAT_ERW,SATM,SAT_TOTAL,School_GPA,Course_Grades,Semester_GPA,Courses
0,285,202101.0,UG,SA,BGS,General Studies,W White,None,F,Y,...,-,-,-,-,-,-,NaN,"[4.0, 3.67, 3.33, 4.0]",3.75,"[LIS3361, LIS3353, COP2030, CIS4510]"
1,285,202105.0,UG,SA,BGS,General Studies,W White,None,F,Y,...,-,-,-,-,-,-,NaN,[0.0],0.00,[LIS4365]
2,432,201908.0,UG,SA,BGS,General Studies,B Black or African American\nW White,Not Hispanic or Latino,M,Y,...,-,-,-,-,-,-,NaN,"[0.0, 0.0, 0.0]",0.00,"[MUS4930, CCJ3117, IDS4934]"
3,705,202208.0,UG,NR,PNR,Pre-Nursing,W White,Not Hispanic or Latino,F,Y,...,36,29,30,-,-,-,NaN,"[4.0, 4.0, 4.0, 4.0, 4.0, 4.0]",4.00,"[MCB2000, MCB2000L, HUN2201, BSC2085, BSC2085L..."
4,794,201508.0,UG,SA,PNR,Pre-Nursing,W White,Not Hispanic or Latino,M,Y,...,25,22,25,-,-,-,3.3,"[4.0, 4.0, 4.0]",4.00,"[NUR3805, NUR3078, NUR4895]"